h1, h3 {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: var(--size-16);
  color: var(--grey-500);
}

button {
  font-size: var(--size-24);
  font-weight: 600;
  color: var(--white);
  background-color: var(--green-900);
  border: none;
  border-radius: 5px;
  padding: var(--size-8) var(--size-16);
}

button:hover {
  background-color: var(--green-200);
  color: var(--green-900);
}

.App {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.App-header {
  text-align: center;
  color: var(--grey-600);
  font-size: var(--size-16);
  line-height: var(--size-48);
  letter-spacing: var(--size-8);
}

.Calculator {
  background-color: var(--white);
  border-radius: 25px 25px 0 0;
  padding: var(--size-32);;
  display: flex;
  flex-direction: column;
  gap: var(--size-32);;
}

.Disabled {
    background-color: var(--green-750);
}

.Selected, .Active {
    background-color: var(--green-400);
    color: var(--green-900);
}

.attribution {
  background-color: var(--white);
  padding: var(--size-24);
  font-size: 0.7rem;
  margin-top: -40px;
}

.attribution a {
  color: var(--green-400);
}

.attribution a:hover {
  color: var(--green-900);
}