input {
    width: 100%;
    padding: var(--size-8) var(--size-16);
    border: none;
    border-radius: 5px;
    background-color: var(--grey-50);
}

.Calc-Panel {
    display: flex;
    flex-direction: column;
    gap: var(--size-32);
}

.Buttons-List {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-16);
}