input {
    width: 100%;
    padding: var(--size-8) var(--size-16);
    border: none;
    border-radius: 5px;
    background-color: var(--grey-50);
    text-align: right;
    font-size: var(--size-24);
    font-weight: 600;
    color: var(--green-900);
}

.Calc-Panel {
    display: flex;
    flex-direction: column;
    gap: var(--size-32);
}

.Num-Input-Container, .Tip-Buttons {
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
}

.Buttons-List {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-16);
}