@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --green-200: hsl(173, 61%, 77%);
  --green-400: hsl(172, 67%, 45%);
  --green-750: hsl(183, 79%, 24%);
  --green-900: hsl(183, 100%, 15%);
  --grey-600: hsl(180, 25%, 32%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);
  --orange-400: hsl(13, 70%, 60%);
  --white: hsl(0, 100%, 100%);

  /* 8px */
  --size-8: .5rem;
  /* 16px */
  --size-16: 1rem;
  /* 18px */
  --size-18: 1.125rem;
  /* 24px */
  --size-24: 1.5rem;
  /* 32px */
  --size-32: 2rem;
  /* 48px */
  --size-48: 3rem;
  /* 64px */
  --size-64: 4rem;
  /* 80px */
  --size-80: 5rem;
  /* 96px */
  --size-90: 5.625rem;
  /* 120px */
  --size-120: 7.5rem;
  /* 128px */
  --size-128: 8rem;
}

* {
    font-family: 'Space Mono', sans-serif;
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--grey-200);
  min-height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
